{
	"ircserver": "kanade.irc.ozinger.org",
	"ircport": 6666,
	"ircencoding": "UTF-8",
	"useSSL": false,
	"nick": "kaelyn_dove^xps",
	"user": "kaelyn_dove",
	"usermode": "0",
	"realname": "kaelyn_dove",
	"nickserv": "nickservPass",
	"channels": ["#kaelynBot"],
	"commandPrefix": "$"
}
